<!doctype html>
<html>
<head>
    <title>Rating Service</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <main>
    <h1>Rating Service</h1>
    This service fits stage-discharge rating curves using the using the <a
    href="https://github.com/thodson-usgs/ratingcurve">ratingcurve</a> Python
    package.
    Refer to the OpenAPI documentation in <a href="./docs">/docs</a>.
    
    <p class="warning">
        DISCLAIMER: This software is preliminary or provisional and is subject
        to revision. It is being provided to meet the need for timely best
        science. The software has not received final approval by the U.S.
        Geological Survey (USGS). No warranty, expressed or implied, is made by
        the USGS or the U.S. Government as to the functionality of the software
        and related material nor shall the fact of release constitute any such
        warranty. The software is provided on the condition that neither the
        USGS nor the U.S. Government shall be held liable for any damages
        resulting from the authorized or unauthorized use of the software.
    </p>

    </main>
</body>
